@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1500px !important;
	}
}

body {
	font-family: apercu-pro, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

.app-container {
	.header-container {
		.navbar {
			padding-top: 20px;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0) !important;
			.nav-link {
				&.active {
					color: rgb(0, 209, 209);
				}
			}
		}
	}
}

video {
	width: 100%;
	position: fixed;
	bottom: 0;
}

button {
	border: none;
	background-color: transparent;
}
